<!DOCTYPE html>
<html ng-app="directives">
    <head>
        <title>Directives</title>
        <script src="../node_modules/angular/angular.js"></script>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.css">

        <script src="/app/controllers/main.controller.js"></script>
        <script src="/app/services/server-service.js"></script>
        <style>
            .Red { background-color: lightcoral; }
            .Green { background-color: lightgreen; }
            .Blue { background-color: lightblue; }
        </style>
    </head>

    <body>
        <div id='todoPanel' class="panel" ng-controller='mainCtrl'>
                <h3 class="panel-header">To Do List</h3>

                <div class="well">
                    <span ng-repeat="button in buttonNames">
                        <button class="btn btn-info" ng-click="settings.rowColor = button">
                            {{button}}
                        </button>
                    </span>
                </div>

                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Action</th>
                            <th>Done</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr ng-repeat="item in dates" ng-class="settings.rowColor"
                            ng-mouseenter="handleEvent($event)" ng-mouseleave="handleEvent($event)">  
                            <td>{{$index + 1}}</td>
                            <td>{{item.action}}</td>
                            <td ng-class="settings.columnColor">{{item.complete}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </body>
</html>