<!DOCTYPE html>
<html ng-app="directives">
    <head>
        <title>Directives</title>
        <script src="../node_modules/angular/angular.js"></script>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.css">

        <script src="/app/controllers/main.controller.js"></script>
        <script src="/app/services/server-service.js"></script>
        <style>
            td > *:first-child { font-weight: bold }
        </style>
    </head>

    <body>
        <div id='todoPanel' class="panel" ng-controller='mainCtrl'>
                <h3 class="panel-header">To Do List</h3>

                <div class="checkbox well">
                    <label>
                        <input type="checkbox" ng-model="dates[2].complete">
                        Item 3 is complete
                    </label>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Action</th>
                            <th>Done</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dates">
                            <td>{{$index + 1}}</td>
                            <td>{{item.action}}</td>
                            <td>
                                <span ng-if="!item.complete">(Incomplete)</span>
                                <span ng-if="item.complete">(Done)</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </body>
</html>