<!DOCTYPE html>
<html ng-app="directives">
    <head>
        <title>Directives</title>
        <script src="../node_modules/angular/angular.js"></script>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.css">

        <script src="/app/controllers/main.controller.js"></script>
        <script src="/app/services/server-service.js"></script>
        <style>
            tr.Red { background-color: lightcoral; }
            tr.Green { background-color: lightgreen; }
            tr.Blue { background-color: lightblue; }
        </style>
    </head>

    <body>
        <div id='todoPanel' class="panel" ng-controller='mainCtrl'>
                <h3 class="panel-header">To Do List</h3>

                <div class="row well">
                    <div class="col-xs-6" ng-repeat="(key, val) in settings">
                        <h4>{{key}}</h4>
                        <div class="radio" ng-repeat="button in buttonNames">
                            <label>
                                <input type="radio" ng-model="settings[key]"
                                    value="{{button}}">{{button}}
                            </label>
                        </div>
                    </div>
                </div>

                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Action</th>
                            <th>Done</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr ng-repeat="item in dates" ng-class="settings.Rows">  
                            <td>{{$index + 1}}</td>
                            <td>{{item.action}}</td>
                            <td ng-style="{'background-color': settings.Columns}">
                                {{item.complete}}
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </body>
</html>